<!DOCTYPE html>
<html>

    <head>
        <title>Add User</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
    </head>

    <body>
        <%- include('../views/partial/_navHeaderAdminHub.ejs') %>
        <div class="container mt-5">
            <h1>Add User</h1>
            <form action="/users/<%= user.id %>/edit" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="form2Example11" name="password" value="<%= user.firstName %>" required>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required>
                </div>
                <div class="form-outline mb-2">
                    <input
                      type="password"
                      name="confirmPassword"
                      id="form2Example11"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                  </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control" id="role" name="role">
                        <option value="User" <%= user.UserRole.includes('User') ? 'selected' : '' %>>User</option>
                        <option value="Admin" <%= user.UserRole.includes('Admin') ? 'selected' : '' %>>Admin</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add User</button>
            </form>
        </div>
        <script src="../public/menu-toggle-transition.js"></script>
    </body>

</html>